@import "_vars.scss";

/* #########################-CONTACTO-############################## */
.form {
    width: 85vw;
    margin: 3vh 0 3vh 0;
}

#main-contact {
    color: $letter-color;
    height: max-content;
    padding: 3vh 0 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group {
    label {
        margin: 2rem 0 0 0;
    }
}
.btn-primary {
    margin-top: 2rem;
}

section {
    h2 {
        font-size: auto;
        margin-top: 2%;
    }
}
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: $target-color;
    border-radius: 15px;
    
}

.ubication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 15px;
    background-color: $target-color;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 10vh;
    iframe {
        width: 85vw;
        border-radius: 15px;
        height: 80vh;
    }
}

.ubication__title {
    font-size: 50px;
    color: $letter-color;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 80vw;
    }

    .section-contact {
        width: 90vw;
    }
    .ubication {
        width: 90vw;
    }
    .ubication {
        iframe {
            height: 22rem;
            width: 19rem;
        }
    }
}

.section__aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.aboutus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0 15px;
    background-color: $target-color;
    width: 90vw;
    border-radius: 015px;
    margin-bottom: 5vh;
    margin-top: 10vh;
        img {
                width: 45vw;
                height: auto;
                border-radius: 15px;
            }
}

.aboutus__text {
    text-align: center;
    color: $letter-color;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.aboutus__text .p {
    width: 35vw;
    text-align: justify;
}

.aboutus__text {
    h2 {
        font-size: 3.8vw;
    }
}

.section__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 85vh;
    background-color: $target-color;
    border-radius: 15px;
    margin-bottom: 10vh;
    .d-block {
        height: 75vh;
        width: 85vw;
        object-fit: cover;
        border-radius: 15px;
    }
    .carousel-item {
        object-fit: cover;
    }
}

@media only screen and (max-width: 600px) {
    .aboutus {
        flex-direction: column;
        width: 90vw;
    }

    .aboutus {
        img {
            height: auto;
            width: 85vw;
        }
    }
    .aboutus__text {
        h2 {
            font-size: 7vw;
        }
    }
    .section__aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: max-content;
        margin-bottom: 5vh ;
    }

    #main-aboutus {
        height: max-content;
    }

    .aboutus__text .p {
        width: fit-content;
        text-align: center;
        padding: 3%;
    }
    .section__carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 80vh;
    } 
}

@media (min-width: 600px) and (max-width: 767px) {
    .aboutus {
        flex-direction: column;
        img {
            height: auto;
            width: 85vw;
        }
    }
    .aboutus__text {
        h2 {
            font-size: 7vw;
        }
    }
    .aboutus__text {
        width: 85vw;
        .p {
            width: 85vw;
            text-align: center;
        }
    }
}