@import "_vars.scss";




/* #####################-SOBRE NOSOTROS-########################### */

.main-carrito {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

