
// COLOR DE LAS TARJETAS
$target-color: #161A1D;

// COLOR DE FONDO 
$background-color: #0B090A;

// COLOR DE LETRAS 
$letter-color: #F5F3F4;

// FUENTE GENERAL 
$general-font:  'Hahmlet', sans-serif;

// FUENTE TITULOS Y SUBTITULOS 
$title-font: 'Bona Nova', serif;