/* #########################-CONTACTO-############################## */
.form {
    width: 65vw;
    margin: 3vh 0 3vh 0;
}

#main-contact {
    color: white;
    height: max-content;
    padding: 3vh 0 3vh 0;
}
.form-group label {
    margin: 2rem 0 0 0;
}
.btn-primary {
    margin-top: 2rem;
}

section h2 {
    font-size: auto;
}
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .form {
        width: 95vw;
    }

}