@charset "UTF-8";
/* .CSS DEL HEADER/NAV DE LAS PÁGINAS  */
/* TAMAÑO DEL HEADER DEL 100% DE LA PANTALLA, IMAGEN DE FONDO */
.header {
  height: 100vh;
  width: auto;
  background-image: url(../assets/imagen_header.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#productos {
  background-image: url(../assets/asado2.jpg);
  background-position: center;
  background-size: cover;
}

#combos {
  background-image: url(../assets/asado3.jpg);
  background-position: center;
  background-size: cover;
  height: 101vh;
}

#contacto {
  background-image: url(../assets/asado4.jpg);
  background-position: center;
  background-size: cover;
}

#sobrenosotros {
  background-image: url(../assets/asado5.jpg);
  background-position: center;
  background-size: cover;
}

/* NAV */
.navbar {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  z-index: 100;
}

.navbar .navbar-expand-lg .navbar-dark .bg-dark {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}

.navbar-nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item .nav-link .active {
  font-family: 'Hahmlet', sans-serif;
}

div#navbarNavAltMarkup {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.collapse .navbar-collapse {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#navbarNavAltMarkup {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navbar-toggler {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navbar_nav .navbar-toggler-icon {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* CAMBIAR TAMAÑO LOGO */
.navbar a img {
  width: 10rem;
  margin-left: 2vw;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* INLINE AL UL */
.header__nav .nav__list {
  display: inline-block;
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

/* INLINE A LOS LI DE UL */
.header__nav .nav__list li {
  display: inline-block;
}

/*  QUITAR DECORACION A ENLACES, CAMBIAR COLOR Y ESTILO DE FUENTE */
.nav__list li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* CAMBIAR TAMAÑO A LOGO EN HEADER INDEX */
.header__logo img {
  height: 50vh;
  width: auto;
  overflow: hidden;
}

.header__logo {
  overflow: hidden;
  -webkit-animation: puff-in-center 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in-center 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* TEXTO DE HEADER EN BLANCO Y FONTS WEIGHTS*/
.header__logo h1 i {
  color: white;
  font-family: 'Bona Nova', serif;
  font-weight: 300;
  text-shadow: 1px 2px 20px #000000;
  letter-spacing: 3px;
  font-size: 4vw;
}

.header__logo h1 b {
  color: white;
  font-family: 'Bona Nova', serif;
  font-weight: 800;
  text-shadow: 1px 2px 20px #000000;
  letter-spacing: 3px;
  font-size: 4vw;
}

.menu__responsive {
  display: none;
}

.header__logo {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .header__logo img {
    height: 18rem;
    width: auto;
    overflow: hidden;
  }
  .header__logo h1 i {
    color: white;
    font-family: 'Bona Nova', serif;
    font-weight: 300;
    text-shadow: 1px 2px 20px #000000;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  .header__logo h1 b {
    color: white;
    font-family: 'Bona Nova', serif;
    font-weight: 800;
    text-shadow: 1px 2px 20px #000000;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  .navbar a img {
    width: 8rem;
    margin-left: 2.5vw;
    z-index: 101;
  }
}

/* .CSS DEL FOOTER DE LAS PAGINAS */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  text-align: center;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  overflow: hidden;
  width: 90vw;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.socialMedia div li {
  list-style-type: none;
  margin-top: 2vh;
}

.socialMedia div li a img {
  width: 50px;
  height: auto;
}

.icons_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 600px) {
  .icons_group {
    width: 100vw;
    margin-bottom: 5vh;
  }
  footer p {
    font-size: .7rem;
  }
}

/* .CSS DEL INDEX */
/* PRIMERA SECCION DEL MAIN DE INDEX */
#main-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 95vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px;
  background-color: #161A1D;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__first:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 10px 10px 102px -36px rgba(0, 0, 0, 0.65);
          box-shadow: 10px 10px 102px -36px rgba(0, 0, 0, 0.65);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.intro video {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  border: 5px solid black;
  overflow: hidden;
}

/* DIV DONDE SE ENCUENTRA EL H2 Y EL P */
.content {
  width: 30vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #F5F3F4;
  margin: 0;
  overflow: hidden;
}

/* H2 DE LA PRIMERA SECCION */
.title {
  margin: 0;
  font-size: 3vw;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.text {
  color: #F5F3F4;
  text-align: center;
  font-size: 1.4rem;
  overflow: hidden;
}

/* ##################COMIENZO DE LA 2DA SECCION DEL MAIN INDEX################################## */
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15vh;
  margin-bottom: 5vh;
  height: 155vh;
}

.section2__title {
  display: block;
  text-align: center;
  font-size: 9vh;
  color: #F5F3F4;
  overflow: hidden;
}

.section2 div div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: auto;
  display: block;
  margin-bottom: 3vh;
}

.section2 div div:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 10px 10px 102px -36px rgba(0, 0, 0, 0.65);
          box-shadow: 10px 10px 102px -36px rgba(0, 0, 0, 0.65);
}

.section2 div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30vw;
  height: 55vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  color: #F5F3F4;
  background-color: #161A1D;
  padding: 5px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section2__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-rows: 1fr;
  gap: 0 2%;
  grid-auto-flow: row;
      grid-template-areas: "icon1 icon2 icon3" "icon4 icon5 icon6";
  width: 100vw;
  height: 150vh;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon1;
}

.icon2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon2;
}

.icon3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon3;
}

.icon4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: icon4;
}

.icon5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: icon5;
}

.icon6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: icon6;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .section__first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 5vh;
  }
  .intro {
    width: 85vw;
  }
  .intro video {
    width: 85vw;
    height: auto;
  }
  .text {
    color: #F5F3F4;
    text-align: center;
    font-size: 1rem;
  }
  .content {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #F5F3F4;
    margin-top: 3vh;
  }
  .title {
    margin: 0;
    font-size: 1.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 250vh;
  }
  .section2__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    grid-auto-rows: 1fr;
    gap: 1% 1%;
    grid-auto-flow: row;
        grid-template-areas: "icon1" "icon2" "icon3" "icon4" "icon5" "icon6";
    width: 100%;
    height: 100%;
    margin-top: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  .section2 div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90vw;
    height: 35vh;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    color: #F5F3F4;
    background-color: #161A1D;
    padding: 5px;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .section2 div div img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 8rem;
    height: auto;
    display: block;
    margin-bottom: 3vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 3vw;
  }
  .text {
    font-size: 1.7vw;
  }
  .section__first {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .section__first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 5vh;
  }
  .intro {
    width: 80vw;
  }
  .content {
    width: 80vw;
    margin-top: 2vh;
  }
  .title {
    font-size: 4vw;
  }
  .text {
    font-size: 2.7vw;
  }
}

/* .CSS DE COMBOS */
/* ##########################COMBOS#################################### */
.combos div {
  width: 100vw;
  height: 75vh;
}

.combo1, .combo2, .combo3, .combo4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/combo1_image.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/combo1_image.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.combo1 h2, .combo2 h2, .combo3 h2, .combo4 h2, p, span {
  color: #F5F3F4;
  display: block;
  text-align: center;
}

.combo1:hover, .combo2:hover, .combo3:hover, .combo4:hover {
  -webkit-box-shadow: 10px 10px 102px 31px rgba(0, 0, 0, 0.65) inset;
          box-shadow: 10px 10px 102px 31px rgba(0, 0, 0, 0.65) inset;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.combo2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/combo2_image.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/combo2_image.jpg);
  background-position: center;
  background-size: cover;
}

.combo2 h2, p, span {
  color: #F5F3F4;
  display: block;
  text-align: center;
}

.combo3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/combo3_image.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/combo3_image.jpg);
  background-position: center;
  background-size: cover;
}

.combo3 h2, p, span {
  color: #F5F3F4;
  display: block;
  text-align: center;
}

.combo4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/combo4_image.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/combo4_image.jpg);
  background-position: center;
  background-size: cover;
}

.combo4 h2, p, span {
  color: #F5F3F4;
  display: block;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .combos div p {
    font-size: 1.2rem;
    width: 80%;
  }
}

/* .CSS DE PRODUCTOS */
/* #################-PRODUCTOS-########################## */
#main-products {
  height: 330vh;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 100vw;
  height: 320vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vh;
  padding: 0 3vw 0 3vw;
}

.products div {
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.products div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.products div p {
  font-family: "Bona Nova", serif;
}

.products div button {
  display: none;
  margin: 0;
}

.products div span {
  display: none;
}

.products div:hover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 77px 0px rgba(0, 0, 0, 0.61) inset;
          box-shadow: 0px 0px 77px 0px rgba(0, 0, 0, 0.61) inset;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.products div:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.products div:hover p {
  display: none;
}

.products div:hover button {
  display: inline-block;
}

.products div:hover span {
  display: inline-block;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/salsa-criolla.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/salsa-criolla.jpg);
  height: 25vh;
}

.item2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/chorizos.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/chorizos.jpg);
  height: 25vh;
}

.item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/lechon.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/lechon.jpg);
  height: 51vh;
}

.item4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/vacio.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/vacio.jpg);
  height: 35vh;
}

.item5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 6 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/cimg6732.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/cimg6732.jpg);
  height: 51vh;
}

.item6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/ensalada-rusa.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/ensalada-rusa.jpg);
  height: 25vh;
}

.item7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/entraña.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/entraña.jpg);
  height: 25vh;
}

.item8 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 / 7 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/tapadeasado.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/tapadeasado.jpg);
  height: 35vh;
}

.item9 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 8 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/ensalada-lechugatomate.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/ensalada-lechugatomate.jpg);
  height: 25vh;
}

.item10 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 8 / 1 / 9 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/matambre.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/matambre.jpg);
  height: 25vh;
}

.item11 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 9 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/combo3_image.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/combo3_image.jpg);
  height: 51vh;
}

.item12 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 9 / 1 / 10 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/costillascerdo.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/costillascerdo.jpg);
  height: 35vh;
}

.item13 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 10 / 1 / 12 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/bife-chorizo.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/bife-chorizo.jpg);
  height: 52vh;
}

.item14 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 10 / 2 / 11 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/chinchulines.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/chinchulines.jpg);
  height: 25vh;
}

.item15 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 11 / 2 / 12 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9))), url(../assets/costillas.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(../assets/costillas.jpg);
  height: 25vh;
}

.products div p {
  color: #F5F3F4;
  font-weight: 500;
  font-size: 2.5rem;
}

.item9 {
  overflow: hidden;
}

.item9 p {
  font-size: 1.6rem;
}

.menu-carrito {
  position: fixed;
  top: 62.63px;
  right: 0;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #F5F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .products div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products div p {
    font-size: 2rem;
    text-align: center;
  }
  .products div button {
    width: 40vw;
    height: auto;
    font-size: .8rem;
  }
  .products div span {
    width: 50%;
  }
  .products .item9 p {
    font-size: 1.5rem;
  }
  .products .item14 p {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .products .item9 p {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .products .item9 p {
    font-size: 1.5rem;
  }
}

/* .CSS DE CONTACTO */
/* #########################-CONTACTO-############################## */
.form {
  width: 85vw;
  margin: 3vh 0 3vh 0;
}

#main-contact {
  color: #F5F3F4;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3vh 0 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group label {
  margin: 2rem 0 0 0;
}

.btn-primary {
  margin-top: 2rem;
}

section h2 {
  font-size: auto;
  margin-top: 2%;
}

.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  background-color: #161A1D;
  border-radius: 15px;
}

.ubication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  padding: 15px;
  background-color: #161A1D;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 10vh;
}

.ubication iframe {
  width: 85vw;
  border-radius: 15px;
  height: 80vh;
}

.ubication__title {
  font-size: 50px;
  color: #F5F3F4;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 80vw;
  }
  .section-contact {
    width: 90vw;
  }
  .ubication {
    width: 90vw;
  }
  .ubication iframe {
    height: 22rem;
    width: 19rem;
  }
}

.section__aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px;
  background-color: #161A1D;
  width: 90vw;
  border-radius: 015px;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.aboutus img {
  width: 45vw;
  height: auto;
  border-radius: 15px;
}

.aboutus__text {
  text-align: center;
  color: #F5F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus__text .p {
  width: 35vw;
  text-align: justify;
}

.aboutus__text h2 {
  font-size: 3.8vw;
}

.section__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 85vh;
  background-color: #161A1D;
  border-radius: 15px;
  margin-bottom: 10vh;
}

.section__carousel .d-block {
  height: 75vh;
  width: 85vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.section__carousel .carousel-item {
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .aboutus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  .aboutus img {
    height: auto;
    width: 85vw;
  }
  .aboutus__text h2 {
    font-size: 7vw;
  }
  .section__aboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 5vh;
  }
  #main-aboutus {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .aboutus__text .p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    padding: 3%;
  }
  .section__carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    height: 80vh;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .aboutus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutus img {
    height: auto;
    width: 85vw;
  }
  .aboutus__text h2 {
    font-size: 7vw;
  }
  .aboutus__text {
    width: 85vw;
  }
  .aboutus__text .p {
    width: 85vw;
    text-align: center;
  }
}

/* .CSS DE SOBRENOSOTROS */
/* #####################-SOBRE NOSOTROS-########################### */
.main-carrito {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

/* SELECTORES GENERALES */
* {
  font-family: "Hahmlet", sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Bona Nova", serif;
  font-weight: 600;
}

main {
  background-color: #0B090A;
}
/*# sourceMappingURL=styles.css.map */